:root,
[data-theme="default"] {
  --bg-color: #ecfdf5;
  --switch-on-color: #444352;
  --switch-off-color: #ccc;
  --toggler-color: #fff;
  --p-color: #6b7280;
}
[data-theme="dark"] {
  --bg-color: #1f2937;
  --switch-on-color: #fff;
  --switch-off-color: #ecfdf5;
  --toggler-color: #444352;
  --p-color: white;
}

body {
  background: #1c1c1c;

  font-family: "Inter", sans-serif;
}
h1 {
  font-family: Karla;
  font-weight: 800;
  font-size: 40px;
}

hr {
  border: 1px solid #273549;
}
button {
  padding: 9px 17px 9px 15px;
  width: 190px;
  height: 42px;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 6px;
  border: none;
  background-color: #10b981;
  color: white;
  font-size: 16px;
  line-height: 24px;
  transition: all 100ms ease-in-out;
}
button:hover {
  background: #159067;
}
.container {
  background: var(--bg-color);
  width: 550px;
  color: var(--p-color);
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 52px;
}
.headerTwo {
  color: #10b981;
}

.row {
  display: flex;
  justify-content: space-between;
}
.col {
  background: #273549;
  width: 240px;
  height: 36px;
  border-radius: 6px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.check-col {
  margin-right: 10px;
  padding-right: 10px;
}
.slidecontainer {
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 30px;
}
#copy,
#copy2 {
  color: #273549;
  font-size: 20px;
  text-decoration: none;
  justify-content: end;
}
#copy:hover,
#copy2:hover {
  color: grey;
}
#password1,
#password2 {
  background: #273549;
  color: #10b981;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 18px;
  border: none;
  padding-top: 5px;
  top: -4px;
}
#value_display {
  color: #10b981;
  font-size: 20px;
}
#check-box-message {
  color: orange;
  font-style: italic;
  height: 10px;
}
fieldset {
  margin-top: 20px;
}
/* toggler */

.controller-row {
  text-align: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-off-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: var(--toggler-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--switch-on-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.fa-copy {
  position: relative;
  left: -25px;
  top: 10px;
  cursor: pointer;
  color: #5e6f88;
  transition: color 0.3s;
}

.fa-copy:hover {
  color: white;
}

.fa-copy:active {
  color: #4adf86;
}
